name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, macos-11.0, macos-10.15, windows-2019]
    steps:
    - uses: actions/checkout@v2
    - run: |
        npm install
        npm run all
  CopyTest: # make sure the action works on a clean machine without building
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-20.04, ubuntu-18.04, macos-11.0, macos-10.15, windows-2019]
    steps:
    - uses: actions/checkout@v2
    - run: |
        azcopy --version | grep 'azcopy'
        which azcopy
    - uses: ./
      with: 
        version: 'v10'
        creds: ${{ secrets.AZURE_CREDENTIALS }}
      env:
        ACTIONS_RUNNER_DEBUG: true
    - run: |
        azcopy --version | grep 'azcopy'
        azcopy_v10 --version | grep 'azcopy'
        which azcopy_v10
        touch ${{ matrix.operating-system }}
        azcopy_v10 copy ./${{ matrix.operating-system }} https://installazcopyactiontest.blob.core.windows.net/githubflow/${{ matrix.operating-system }} --overwrite=true
